<%= render 'pages/home' if !user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class ="panel-heading">
        Posted by: <strong><%= pin.user.email if pin.user %></strong>
      </div>
      <%= link_to image_tag(pin.image.url (:medium)), pin_path(pin) %>
      <div class ="panel-heading">
        <%= pin.description %> <br>
      </div>
      <div class="panel-body">
        <% if pin.user == current_user %>
          <%= link_to raw('<span class="glyphicon glyphicon-edit"></span> Edit'), edit_pin_path(pin), class: "btn btn-default" %>
          <%= link_to raw('<span class="glyphicon glyphicon-trash"></span> Delete'), pin, method: :delete, class: "btn btn-default" , data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>